<h1>Reservations#show</h1>
<table class="list">
	<tr>
		<td><= @reservation.id %></td>
		<td><= @reservation.room_id %></td>
		<td><= @reservation.plan_id %></td>
		<td><= @reservation.guest_count %></td>
		<td><= @reservation.sum_price %></td>
		<td><= @reservation.start_date %></td>
		<td><= @reservation.end_date %></td>
	</tr>
</table>